BUSD_USD
BUSD_EUR
BUSD_GBP
BUSD_AUD
BUSD_USDT
BUSD_USDC
BUSD_UST
BUSD_TUSD
USDT_USD
USDT_EUR
USDT_GBP
USDT_AUD
USDT_BUSD
USDT_USDC
USDT_UST
USDT_TUSD
USDC_USD
USDC_EUR
USDC_GBP
USDC_AUD
USDC_USDT
USDC_BUSD
USDC_UST
USDC_TUSD
UST_USD
UST_EUR
UST_GBP
UST_AUD
UST_USDT
UST_BUSD
UST_USDC
UST_TUSD
TUSD_USD
TUSD_EUR
TUSD_GBP
TUSD_AUD
TUSD_USDT
TUSD_BUSD
TUSD_USDC
TUSD_UST