[Unit]
Description=3Commas AltRank Daemon
After=multi-user.target

[Service]
# Set WorkingDirectory and ExecStart to your file paths accordingly
WorkingDirectory=/home/ron/3commas-cyber-bots
ExecStart=/usr/bin/python3 /home/ron3commas-cyber-bots/altrank.py
User=ron
Restart=on-failure

[Install]
WantedBy=default.target
