[Unit]
Description=3Commas BotAssistExplorer Daemon
After=multi-user.target

[Service]
# Set WorkingDirectory and ExecStart to your file paths accordingly
WorkingDirectory=/home/ron/3commas-cyber-bots
ExecStart=/usr/bin/python3 /home/ron/3commas-cyber-bots/botassistexplorer.py
User=ron
Restart=on-failure

[Install]
WantedBy=default.target
